<div class="flex items-center justify-center min-h-screen px-4 py-12 bg-gray-50 sm:px-6 lg:px-8">
  <div class="w-full max-w-md">
    <div>
      <%= image_tag "svg/logo-on-white.svg", class: "w-auto h-12 mx-auto" %>
      <h1 class="mt-6 text-3xl font-extrabold leading-9 text-center text-gray-900">
        Sign in to your account
      </h1>
      <p class="mt-2 text-sm leading-5 text-center text-gray-600">
        Don't have an account?
        <%= link_to "Sign up", new_user_path, class: "font-medium text-indigo-600 transition duration-150 ease-in-out hover:text-indigo-500 focus:outline-none focus:underline" %>
      </p>
    </div>
    <%= render "form" %>
  </div>
</div>
