<section class="pt-3 grid grid-cols-3">
  <div class="text-center col-span-1">
    <h4 class="text-lg font-medium">61</h4>
    <p class="text-gray-600">Tweets</p>
  </div>
  <div class="text-center col-span-1">
    <h4 class="text-lg font-medium">61</h4>
    <p class="text-gray-600">Followers</p>
  </div>
  <div class="text-center col-span-1">
    <h4 class="text-lg font-medium">61</h4>
    <p class="text-gray-600">Followings</p>
  </div>
</section>
