<%= form_with model: [:app, Tweet.new], id: "tweet-form", data: { controller: "form limiter", action: "ajax:error->form#onError", limiter_limit_value: 255, remote: true } do |form| %>
  <%= form.text_area :text, data: { action: "limiter#observe", limiter_target: "field" }, class: "border-0 focus:ring-0 w-full resize-none", placeholder: "What's on your mind?", rows: 3, autocomplete: "off" %>
  <div class="border-t border-gray-200 flex justify-between items-center">
    <%= render "shared/form_error", error_type: "text" %>
    <div class="flex items-center">
      <span data-limiter-target="status" class="text-gray-600 mr-3 leading-5">0 / 255</span>
      <%= form.submit "Tweet", class: "px-4 py-2 mt-2 text-sm font-medium leading-6 text-white whitespace-no-wrap transition duration-150 ease-in-out bg-blue-500 border border-transparent rounded-full hover:bg-blue-600 focus:outline-none focus:border-blue-700 focus:shadow-outline-indigo active:bg-blue-700" %>
    </div>
  </div>
<% end %>
