<%= form_with url: app_tweet_likes_path(tweet), data: { remote: true }, class: "inline-flex items-center justify-center" do |form| %>
  <%= button_tag id: "react-button", type: "submit", class: "inline-flex items-center text-gray-500 focus:outline-none" do %>
    <%= render_like_button(tweet) %>
    <span class="ml-1 leading-5"><%= tweet.get_upvotes.size %></span>
  <% end %>
<% end %>
